<template>
    <div class="bg-black text-white mx-auto max-w-screen min-h-screen md:px-10 px-3">
        <div class="fixed top-[-50px] hidden lg:block">
            <img src="@/assets/images/signup-image.png"
                class="hidden laptopLg:block laptopLg:max-w-[450px] laptopXl:max-w-[640px]" alt="">
        </div>
        <div class="py-24 flex laptopLg:ml-[680px] laptopXl:ml-[870px]">
            <div>
                <!-- <img src="@/assets/images/moonton-white.svg" alt=""> -->
                <div class="my-[70px]">
                    <div class="font-semibold text-[26px] mb-3">
                        Welcome Back
                    </div>
                    <p class="text-base text-[#767676] leading-7">
                        Explore our new movies and get <br>
                        the better insight for your life
                    </p>
                </div>
                <form class="w-[370px]" @submit.prevent>
                    <div class="flex flex-col gap-6">
                        <div>
                            <label class="text-base block mb-2">Username</label>
                            <input type="text" name="email" v-model="formLogin.username"
                                class="rounded-2xl bg-form-bg py-[13px] px-7 w-full focus:outline-alerange focus:outline-none"
                                placeholder="Username" />
                        </div>
                        <div>
                            <label class="text-base block mb-2">Password</label>
                            <input type="password" name="password" v-model="formLogin.password"
                                class="rounded-2xl bg-form-bg py-[13px] px-7 w-full focus:outline-alerange focus:outline-none"
                                placeholder="Password" />
                        </div>
                    </div>
                    <div class="grid space-y-[14px] mt-[30px]">
                        <BaseButton @click="signin" :loading="isSubmitted" :type="'submit'"
                            :class="'rounded-2xl bg-alerange py-[13px] text-center'">
                             <span class="text-base font-semibold">
                                    Login
                                </span>
                        </BaseButton>
                        <RouterLink to="/Register" class="rounded-2xl border border-white py-[13px] text-center">
                            <span class="text-base text-white">
                                Create New Account
                            </span>
                        </RouterLink>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { login } from "@/helper/API/user"
import {mapActions } from 'pinia';
import { useUserStore } from "@/store/userStore"
export default ({
    data(){
        return {
            formLogin : {
                username: "",
                password: ""
            },
            isSubmitted : false
        }
    },
    computed:{

    },
    methods:{
        ...mapActions(useUserStore, ["login"]),
         async signin() {
            this.isSubmitted = true
            await this.login(this.formLogin).then((resp: Model.User.LoginData)=>{
            }).catch((err: Error)=>{
                // console.log(err.message);
            }).finally(()=> this.isSubmitted = false)
        },
    }
})
</script>

